@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.authentication{
    background-color: rgb(23, 127, 196);
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;

    .acontainer{
        border: 1px solid #000;
        border-radius: 10px;
        width: 80%;
        height: 80%;
        display: flex;
        overflow: hidden;
        
        .left{
            flex:1.5;
            border-right: 1px solid #000;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .right{
            flex:2.5;
            
            @include md {
                display: none;
            }
            
        }
    }
}   